<%= form_for :note, url: notes_path do |f| %>
  <p>
    <%= f.label :title %>
    <br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :text %>
    <br>
    <%= f.text_area :text %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>

<% if @note.errors.any? %>
  <div>
    <h3><%= "Error".pluralize(@note.errors.count) %>:</h3>
    <ul>
      <% @note.errors.full_messages.each do |msg| %>
        <li>
          <%= msg %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
